@tailwind base;
@tailwind components;
@tailwind utilities;


 #input[type="email"]:focus  ~ #input-email {
      @apply text-enyata-ash bg-enyata-white transform -translate-y-5 -translate-x-4 scale-75

  }

  #input[type="password"]:focus ~ #input-password {
    @apply text-enyata-ash bg-enyata-white transform -translate-y-5 -translate-x-4 scale-75

} 




#input[type="email"]  ~ #input-email {
  @apply text-enyata-ash bg-enyata-white transform -translate-y-5 -translate-x-4 scale-75

}
#input[type="password"] ~ #input-password {
  @apply text-enyata-ash bg-enyata-white transform -translate-y-5 -translate-x-4 scale-75

} 










body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
